*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#A88CC7;
}

.container{
background:white;
padding:40px;
border-radius:10px;
width:450px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

h1{
margin-bottom:10px;
}

p{
margin-bottom:20px;
color:gray;
}

.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 20px;
border:none;
background:#6C4AB6;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#5a3aa3;
}

.link-item{
display:flex;
justify-content:space-between;
align-items:center;
background:#f4f4f4;
padding:10px;
border-radius:5px;
margin-top:10px;
}

.copy-btn{
background:#6C4AB6;
padding:5px 10px;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}